<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:security="http://www.sitecore.net/xmlconfig/security/"
               xmlns:env="http://www.sitecore.net/xmlconfig/env/">
  <sitecore role:require="XMCloud">
    <commands>
      <command name="cmsnake:launch" type="CMSnake.Commands.Launch, CMSnake" />
    </commands>
  </sitecore>
</configuration>
